header {

}

header nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgb(240, 240, 240);
}

header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul li {
	float: left;
	margin-right: 15px;
}

#main {
	padding: 20px;
}
