header {
	display: block;
	height: 30px;
}

header nav {
	position: fixed;
	background-color: rgb(240, 240, 240);
	top: 0;
	width: 100%;
}

header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul li {
	float: left;
	margin-right: 15px;
}

#main {
	top: 30px;
	height: 400px;
	width: 100%;
	background-color: rgb(240, 200, 240);
}
